body {
  margin: 0px;
  padding: 0rem;
  font: Helvetica;
  font-family: 'Josefin Sans', sans-serif;
}


.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paragraph {
  margin: 10px;
  padding: 10px;
}

.button {
  background-color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 2 2px;
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}

.button:hover {
  background-color: teal;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-left: 1%;
  width: 100%;
}
